@model LaboratorioWebCore.Models.Paciente

@{
    ViewBag.Title = "Pacientes";
}

<h2>Busca de Pacientes</h2>
<div class="form-inline">
    <div class="col-md-3">
        @Html.ActionLink(" ", "Novo", null, new { @class = "btn btn-success btn-lg glyphicon glyphicon-plus" })
    </div>
    <div class="col-md-9 text-right">
        @Html.LabelFor(model => model.PlanoDeSaude)
        @Html.DropDownList("PlanoDeSaudeId",null, string.Empty, new { @class = "form-control" })
    </div>
</div>

<div class="row" id="pacientes">

</div>

@section Scripts {

    <script>
        $("#PlanoDeSaudeId").on("change", function () {
            var planoIdView = $(this).val();

            $("#pacientes").load('@Url.Action("ListarPorPlanoResult", "Paciente")', { planoId: planoIdView });

        });
    </script>
}